body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
header {
    background-color: #ffaef4;
    color: rgb(0, 0, 0);
    padding: 10px 0;
}
 
header nav ul {
    list-style: none;
    text-align: center;
}
 
header nav ul li {
    display: inline;
    margin-right: 20px;
}
 
header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}
 
/* Estilo do conteúdo */
main {
    padding: 20px;
    text-align: center;
}
 
h1 {
    font-size: 36px;
}
 
footer {
    background-color: #333;
    color: rgb(255, 159, 234);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}